<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/donate/sendmoney" method="post">
        <input type="number" name="amount" value="" placeholder="Amount">
        <input type="text" name="OrderName" value="" placeholder="Order Name">
        <input type="text" name="OrderId" value="#001" placeholder="#001">
        <input type="text" name="desc" value="" placeholder="Order Description">
        <button onclick="submit">Submit</button>
    </form>
</body>
</html>